<h2 class="text-center my-3">A propos de nous</h2>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <p>
            Ceci est un projet universitaire créé avec Nodejs et Angular tout en utilisant les données du serveur&nbsp;<a href="//www.jeuxdemots.org">jeuxdemots</a> dans le cadre d'un projet web responsive de la matière E-Application. 
        </p>
        <p>
            Nous sommes Nguyen Huu Khang, Nguyen Tran Tuan Nam, Tran Thi Tra My en Master 2 Informatique du parcours AIGLE de l'université de Montpellier.
        </p>
    </div>
</div>