.mat-form-field{
    width: 20rem !important;
    margin-right:1rem !important;
}

.search-btn{
    color: #000000;
    border-color: #000000;
}

.search-btn:hover{
    background-color: #f79595;
}

.search-btn:focus{
    background-color: #ffa6ec;
    outline: 0;
    box-shadow: 0 0 0 0;
}